spacy_streamlit==1.0.4
streamlit==1.15.1
https://huggingface.co/projecte-aina/ca_bsc_demo_trf/resolve/main/ca_bsc_demo_trf-any-py3-none-any.whl
https://huggingface.co/spacy/ca_core_news_md/resolve/main/ca_core_news_md-any-py3-none-any.whl
https://huggingface.co/spacy/ca_core_news_trf/resolve/main/ca_core_news_trf-any-py3-none-any.whl


